<br>
<div class="container ">
  <div class="container-1">
    <div class="img1">
      <img class="image" src="https://e7.pngegg.com/pngimages/799/987/png-clipart-computer-icons-avatar-icon-design-avatar-heroes-computer-wallpaper-thumbnail.png" alt="My Avartar">
    </div>
    <div class="info">
      <br>
      <h1 style="font-style: italic;  font-weight: bold;">Phùng Tấn Triệu</h1>
      <h2> <i class="fa fa-birthday-cake" aria-hidden="true">birthday: 02/07/2002</i></h2>
      <h2><i class="fa fa-location-arrow" aria-hidden="true">Location: District 12, Ho Chi Minh City</i></h2>
      <h2><i class="fa fa-birthday-cake" aria-hidden="true">Education: Ho Chi Minh City Open University</i></h2>
      <h2><i class="fa fa-birthday-cake" aria-hidden="true">Phone: 0981543358</i></h2>
      <h2><i class="fa fa-birthday-cake" aria-hidden="true">Email:
        <a class="email" href="mailto: phungtantrieu@gmail.com">phungtantrieu&#64;gmail.com</a>
      </i></h2>
      <h2><i class="fa fa-birthday-cake" aria-hidden="true">Contact With Me:</i> </h2>
      <div class="container-2">
        <div class="contact">
          <a href="https://www.facebook.com/tantrieu.phung?locale=vi_VN">
            <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1200px-Facebook_Logo_%282019%29.png" alt="facebook">
          </a>
        </div>
        <div class="contact">
          <a href="https://www.instagram.com/pttrieu_90/">
            <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt="instagram">
          </a>
        </div>
        <div class="contact">
          <a href="https://github.com/Trieu0207">
            <img class="image" src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_1280.png" alt="github">
          </a>
        </div>
        <div class="contact">
          <a href="https://www.linkedin.com/in/ph%C3%B9ng-trieu-aaba4821b/">
            <img class="image" src="https://pbs.twimg.com/profile_images/1661161645857710081/6WtDIesg_400x400.png" alt="likedin">
          </a>
        </div>
        <div class="contact">
          <a href="https://www.pinterest.com/phungtantrieu/">
            <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png" alt="pinterest">
          </a>
        </div>
        <div class="contact">
          <a href="https://www.freelancer.com/u/PhungTanTrieu">
            <img class="image" src="https://www.f-cdn.com/assets/main/en/assets/app-icons/icon-512x512.png" alt="Freelancer.com">
          </a>
        </div>
      </div>
    </div>

  </div>
  <br>

</div>

